# Alternatively, define environment variables e.g. TF_VAR_deploy_firewall="true"

# bastion_tags = {
#   bastion                      = "true"
# } 
# azdo_org_url                       = "myorg"
# azdo_pat                       = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # Self-Hosted Agent Build

